<div class="video-background">
  <div class="video-wrap">
    <div id="video">
     <%= video_tag "video.mp4", id: "idvideo",:autoplay => true, :loop => true, :muted => true, :playsinline => true %>
    </div>
  </div>
</div>
<div class="caption text-center text-light">
  <h1> TRADING JOURNAL </h1> 
  <h3> Keep track of your transactions</h3>
  <%= link_to "Get Started",'#', class: "btn btn-outline-light " %>
</div>
</div>

