
    <li class>
        <%= link_to type.name, edit_type_path(type.id), remote: true, :'id-attr' => type.id , :'data-bs-toggle' => 'modal', :'data-bs-target' => '#typeModal'   %>
        <%= link_to 'Delete', type_path(type.id), remote: true , :'id-delete' => type.id, :method => 'delete' %>   
    </li>
 