<h1>Types of Transactions </h1>
<%= link_to "Add New Type", new_type_path, remote: true, :'data-bs-toggle' => 'modal', :'data-bs-target' => '#typeModal'   %>
<div id="render-types">
   <%= render  @types %>
</div>
<div class="container messages">
</div>
<%= render partial:'modal' %>