<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3>Edit Journal </h3>
            <%= render partial: 'form' %>
        </div>
    </div>
</div>

