.messages {
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

.reset-padding {
    padding: 0px;
}

.reset-shadow {
    box-shadow: none !important;
}